.table {
  background: rgba(var(--foreground-rgb), 0.05);
  padding: 8px;
  padding-top: 4px;
  border-radius: 4px;
  position: relative;
  table {
    border: 0px;
    border-collapse: collapse;
    tr {
      padding-bottom: 4px;

      > td {
        padding-bottom: 4px;
        padding-top: 4px;
        z-index: 4;
      }

      &:hover {
        background: rgba(var(--foreground-rgb), 0.05);
      }

      &.column-labels {
        font-weight: bold;

        > td {
          padding-bottom: 2px;
        }
      }

      > .weight {
        padding-right: 4px;
        min-width: min(80px, 12cqw);
      }

      > td .weight-bar {
        transform: translate(0, 1px);
        height: 2px;
        position: absolute;
        width: 40px;
        z-index: 1;
      }

      > td .weight-color-block {
        display: inline-block;
        width: 12px;
        height: 12px;
        //make the color block a circle
        border-radius: 50%;
        margin-right: 4px;
      }
      > .category {
        width: 100%;
      }

      > .avg {
        min-width: min(55px, 8cqw);
      }
    }
  }
}
