.course-component {
  display: flex;
  flex-direction: column;
  transition: background 0.25s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px;
  // border: 1px solid #777;
  // background: #191919;
  background: rgba(var(--foreground-rgb), 0.075);
  border-radius: 4px;
  transition: height 0.25s ease-in-out;

  &:hover {
    background: rgba(var(--foreground-rgb), 0.1);
    transition: background 0.1s ease-in-out;
  }

  // max-width: 400px;
  >.small-view {
    display: flex;
    align-items: center;

    >.course-attributes {
      flex-grow: 0;
      width: 150px;
      margin-bottom: 4px;
      margin-left: 4px;
      border-right: 2px double rgba(var(--foreground-rgb), 0.2);
      margin-right: 2px;

      >.code {
        font-weight: bold;
        // font-family: monospace;
        font-size: 24px;
      }
    }

    >.course-data {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;
      height: 100%;

      >.course-data-text {
        display: flex;
        // flex start right
        justify-content: flex-end;
        gap: 8px;
      }
    }
  }

  >.big-view {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.25s ease-in-out;

    >.big-content {
      min-height: 0px;
      transition: visibility 0.25s ease-in-out;
      padding-top: 4px;

      >.divider {
        height: 0px;
        // background:rgba(var(--foreground-rgb), 0.2);
        margin: 5px;
      }

      >table {
        background: rgba(var(--foreground-rgb), 0.05);
        padding: 8px;
        padding-top: 4px;
        border-radius: 4px;
        position: relative;

        tr {
          >td {
            padding-bottom: 4px;
            z-index: 4;
          }

          &.column-labels {
            font-weight: bold;

            >td {
              padding-bottom: 2px;
            }
          }

          >.weight {
            padding-right: 4px;
            min-width: min(80px, 12cqw);
          }

          >td .weight-bar {
            transform: translate(0, 1px);
            height: 2px;
            position: absolute;
            width: 40px;
            z-index: 1;
          }

          >.category {
            width: 100%;
          }
        }
      }


    }
  }
}