.course-component {
  display: flex;
  flex-direction: column;
  transition: background 0.25s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px;
  // border: 1px solid #777;
  // background: #191919;
  background: rgba(var(--foreground-rgb), 0.075);
  border-radius: 4px;
  transition: height 0.25s ease-in-out;

  &:hover {
    background: rgba(var(--foreground-rgb), 0.1);
    transition: background 0.1s ease-in-out;
  }

  // max-width: 400px;
  > .small-view {
    // display: flex;
    align-items: center;
    margin-left: 4px;

    > .course-attributes {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      // width: 150px;
      margin-bottom: 4px;
      // border-right: 2px double rgba(var(--foreground-rgb), 0.2);
      margin-right: 2px;

      > .code {
        font-weight: bold;
        // font-family: monospace;
        font-size: 24px;
      }
      > .extra-info {
        padding: 3px 0px 5px 0px;
        .divider {
          padding: 0px 2px;
        }
      }
    }

    > .course-info {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 8px;
      // width: 100%;
      > .stat-chip {
        border: 1px solid rgba(var(--foreground-rgb), 0.4);
        //add a faint blurry inset shadow for styleee
        box-shadow: inset 0px 0px 25px 0px rgba(var(--foreground-rgb), 0.05);
        // background: rgba(var(--foreground-rgb), 0.025);
        border-radius: 4px;
        padding: 2px 4px;
      }
    }
  }

  > .big-view {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.25s ease-in-out;

    > .big-content {
      min-height: 0px;
      transition: visibility 0.25s ease-in-out;
      padding-top: 4px;

      > .divider {
        height: 0px;
        // background:rgba(var(--foreground-rgb), 0.2);
        margin: 5px;
      }

      > table {
        background: rgba(var(--foreground-rgb), 0.05);
        padding: 8px;
        padding-top: 4px;
        border-radius: 4px;
        position: relative;

        tr {
          > td {
            padding-bottom: 4px;
            z-index: 4;
          }

          &.column-labels {
            font-weight: bold;

            > td {
              padding-bottom: 2px;
            }
          }

          > .weight {
            padding-right: 4px;
            min-width: min(80px, 12cqw);
          }

          > td .weight-bar {
            transform: translate(0, 1px);
            height: 2px;
            position: absolute;
            width: 40px;
            z-index: 1;
          }
          > td .weight-color-block {
            display: inline-block;
            width: 12px;
            height: 12px;
            //make the color block a circle
            border-radius: 50%;
            margin-right: 4px;
          }
          > .category {
            width: 100%;
          }
        }
      }
    }
  }
}
