.course-component {
  display: flex;
  flex-direction: column;
  transition: background 0.25s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px;
  // border: 1px solid #777;
  // background: #191919;
  background: rgba(var(--foreground-rgb), 0.075);
  border-radius: 4px;
  transition: height 0.25s ease-in-out;

  &:hover {
    background: rgba(var(--foreground-rgb), 0.1);
    transition: background 0.1s ease-in-out;
  }

  // max-width: 400px;

  > .big-view {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.25s ease-in-out;

    > .big-content {
      min-height: 0px;
      transition: visibility 0.25s ease-in-out;
      padding-top: 4px;

      > .divider {
        height: 0px;
        // background:rgba(var(--foreground-rgb), 0.2);
        margin: 5px;
      }
    }
  }
}
