.search-container {
	display: flex;
	//center
	justify-content: center;
	width: 100%;

	>input {
		font-size: 18px;
		width: 100%;
		max-width: 614px;
		padding: 12px 16px;
		margin: 0px 16px;
		background: rgba(var(--foreground-rgb), 0.075);
		border: 2px solid rgba(var(--foreground-rgb), 0.3);
		border: none;
		border-radius: 4px;
		box-shadow: rgba(var(--foreground-rgb), 0.075) 0px 0px 3px 1px inset;
		transition: all 0.2s ease-out;

		&:hover {
			box-shadow: rgba(var(--foreground-rgb), 0.075) 0px 0px 40px 10px inset;
		}
	}
}